{%- liquid
  assign section_color = 'footer'
  assign locale_selector = false
  assign country_selector = false
  assign grid_cols = 12

  comment 
    if section.settings.show_country_selector and localization.available_countries.size > 1
      assign country_selector = true
    endif
  endcomment

  if section.settings.show_country_selector
    assign country_selector = true
  endif
  
  comment
    if section.settings.show_locale_selector and shop.published_locales.size > 1
      assign locale_selector = true
    endif
  endcomment

  if section.settings.show_locale_selector
    assign locale_selector = true
  endif

  assign show_grid_border = section.settings.show_grid_border
  assign block_count = section.blocks.size | plus: 1
  if section.settings.show_social
    assign block_count = block_count | plus: 1
  endif
  if section.settings.text_text != blank
    assign block_count = block_count | plus: 1
  endif

  case block_count
    when 2
      assign desktop_col_span = 'lg:col-span-6'
    when 3
      assign desktop_col_span = 'lg:col-span-4'
    when 4
      assign desktop_col_span = 'lg:col-span-3'
    when 5
      assign grid_cols = 10
      assign desktop_col_span = 'lg:col-span-2'
  endcase

  assign desktop_grid_class = 'lg:grid-cols-' | append: grid_cols
-%}

<style>
[data-color-scheme="footer"] {
  --color-scheme-accent: var(--color-{{ section.settings.color_scheme }}-accent);
  --color-scheme-text: var(--color-{{ section.settings.color_scheme }}-text);
  --color-scheme-background: var(--color-{{ section.settings.color_scheme }}-background);
  --color-scheme-background-hex: var(--color-{{ section.settings.color_scheme }}-background-hex);
  --color-scheme-meta: var(--color-{{ section.settings.color_scheme }}-meta);
  --color-scheme-text--overlay: var(--color-{{ section.settings.color_scheme }}-text--overlay);
  --color-scheme-accent--overlay: var(--color-{{ section.settings.color_scheme }}-accent--overlay);
  --color-scheme-accent-placeholder: var(--color-{{ section.settings.color_scheme }}-text-placeholder);
}
</style>
<div class="main-footer-wrap">
  <footer class="footer-bigscreen bg-scheme-background text-scheme-text" data-section-id="{{ section.id }}" data-section-type="footer" data-color-scheme="footer">
    <div class="border-t-grid border-grid-color footer-top-grid" style="border-top:0;">
      <div class="new-footer grid {{ desktop_grid_class }} bg-border {% if show_grid_border %}gap-gutter{% endif %}">
        {% comment %}
        Footer logo
        {% endcomment %}
        <div class="{{ desktop_col_span }} section-x-padding py-theme bg-scheme-background text-scheme-text hidden">
          <div class="h1">
            <a href="{{ routes.root_url }}" class="footer-logo-image break-words">
              {% if section.settings.logo != blank %}
                {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
                <img src="{{ section.settings.logo | img_url: image_size }}"
                    srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x, {{ section.settings.logo | img_url: image_size, scale: 3 }} 3x"
                    alt="{{ section.settings.logo.alt | default: shop.name }}" height="100%" width="100%">
              {% else %}
                {{ shop.name }}
              {% endif %}
            </a>
          </div>
        </div>
        {% if section.settings.text_text != blank %}
          <div class="{{ desktop_col_span }} section-x-padding py-theme bg-scheme-background text-scheme-text overflow-hidden">
            {% if section.settings.text_heading != '' %}
              <h2 class="carlos-text-sm carlos-uppercase font-heading text-base mb-4 break-words">{{ section.settings.text_heading }}</h2>
            {% endif %}
            <div class="rte">
              {{ section.settings.text_text }}
            </div>
          </div>
        {% endif %}
  
        {% for block in section.blocks %}
          {% if block.type == 'menu' %}
            <div class="{{ desktop_col_span }} section-x-padding py-theme bg-scheme-background text-scheme-text carlos-flex-1 {% unless show_grid_border %}lg:text-right{% endunless %}"  {{ block.shopify_attributes }}>
              <div class="text-left inline-block">
              {% assign link_list = block.settings.main_linklist %}
              {% if block.settings.show_heading %}
                <h2 class="carlos-text-sm carlos-uppercase font-heading text-base mb-4">{{ linklists[link_list].title }}</h2>
              {% endif %}
              <ul class="list-none space-y-1">
                {% for link in linklists[link_list].links %}
                  <li>
                    <a href="{{ link.url }}">{% comment %}  class="hover:text-scheme-accent" {% endcomment %}
                      {{ link.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
              </div>
            </div>
          {% endif %}
        {% endfor %}
  
        {% if section.settings.show_social %}
          {% assign social_style = settings.social_style %}
          <div class="{{ desktop_col_span }} carlos-social-icons section-x-padding pt-theme pb-theme bg-scheme-background text-scheme-text carlos-flex-1 {% unless show_grid_border %}lg:text-right{% endunless %}">
            <div class="text-left inline-block">
              {%- if section.settings.social_title != blank %}
                <h2 class="carlos-text-sm carlos-uppercase font-heading text-base mb-4">{{ section.settings.social_title }}</h2>
              {% endif %}
              {% if section.settings.show_newsletter %}
                <div class="headingNewsWrap">
                  <div class="carlos-text-sm carlos-uppercase carlos-mb-[15px] {{ text_size_class }} {% if text_size_class contains 'xl' %}lg:w-1/2{% endif %}">
                    {% if section.settings.newsletter_section_title != blank %}
                      <h2 class="font-heading {{ settings.base_heading_size }}" for="Email">{{ section.settings.newsletter_section_title | escape }}</h2>
                    {% endif %}
                  
                    {% if section.settings.newsletter_subheading != blank %}
                      <div class="{% if section.settings.newsletter_section_title != blank %}mt-2{% endif %}">{{ section.settings.newsletter_subheading }}</div>
                    {% endif %}
                  </div>
                </div>
                <div class="klaviyoFormgrid-desktop">
                  <div class="klaviyo-form-UkYNaa"></div>
                </div>
              {% endif %}
              <div class="socialIcon-container">
                {% render 'social-icons' with social_style: social_style, link_class: "mb-1", section_color: section_color %}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  
    <div class="border-t-grid border-grid-color footer-middle-grid" style="border-top:0;">
      <div class="section-x-padding pt-theme pb-theme">
        <div class="footer-flex-row">
          <div class="footer-flex-col1">
             <div class="footer-logo-main-grid">
              <a href="{{ routes.root_url }}" class="footer-logo-image">
                {% if section.settings.logo != blank %}
                  {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
                  <img src="{{ section.settings.logo | img_url: image_size }}"
                  srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x, {{ section.settings.logo | img_url: image_size, scale: 3 }} 3x"
                  alt="{{ section.settings.logo.alt | default: shop.name }}"  height="100%" width="100%">
                {% else %}
                  {{ shop.name }}
                {% endif %}
              </a>
            </div>
          </div>
          <div class="footer-flex-col2">
            <div class="disclaimer-content-grid">
              {{ section.settings.disclaimer }}
            </div>
            {% if section.settings.show_disclaimer_content == true %}
              <div class="disclaimer-content-bottom">
                {{ section.settings.disclaimer_content }}                          
              </div>
            {% endif %} 
            <div class="sub-text1">
              {% if section.settings.subs_text != blank %}
                <p>{{ section.settings.subs_text }}</p>
              {% endif %}  
            </div>
            <div class="sub-text2">
              {% if section.settings.subs_bottom_text != blank %}
                <p>{{ section.settings.subs_bottom_text }} 
                <button type="button" class="ag-3po" data-qa="footer-cookie-button"><span>Your Privacy Choices</span> <span class="cookie_logo"><svg viewBox="0 0 55 27" fill="none" class="ag-29y" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="1" width="53" height="25" rx="12.5" stroke="white" stroke-width="2"></rect><path d="M34.5 2H41.5C47.8513 2 53 7.14873 53 13.5C53 19.8513 47.8513 25 41.5 25H27L34.5 2Z" fill="#E5E7EB"></path><path d="M46.6667 9.36838L37.3334 18.7017M37.3334 9.36838L46.6667 18.7017" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M23.1499 9.54504L14.8999 17.795L11.1499 14.045" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg></span></button></p>
              {% endif %}  
            </div>
          </div>
        
        
          {%- if country_selector or locale_selector -%}
            <div class="footer-flex-col3">
              <div class="flex flex-wrap items-center justify-between lg:justify-end mb-4 lg:mb-0 lg:flex-1">
                {%- form 'localization', data-disclosure-form: '' -%}
                  {%- if locale_selector -%}
                    <div class="inline-block {% if country_selector and locale_selector %}mr-4{% endif %}">
                      <h2 class="visually-hidden" id="lang-heading">
                        {{ 'general.language.dropdown_label' | t }}
                      </h2>
                      <div class="relative" data-disclosure-locale>
                        <button type="button" class="text-sm border-b-text border-scheme-text py-1" aria-expanded="false" aria-controls="lang-list" aria-describedby="lang-heading" data-disclosure-toggle>
                          {{ form.current_locale.endonym_name }}
                          <span class="inline-block ml-1 w-3 fill-current">
                            {% render 'icon-chevron-down' %}
                          </span>
                        </button>
                        <ul id="lang-List" class="disclosure-list absolute bg-scheme-background opacity-0 top-0 lg:left-auto lg:right-0 transform transition-opacity border-text border-theme-color py-1 sm:py-2" data-disclosure-list inert>
                          {% for locale in form.available_locales %}
                            <li class="text-xs sm:text-sm">
                              <a class="block p-2" href="#" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                                <span class="{% if locale.iso_code == form.current_locale.iso_code %}border-scheme-text border-b-text{% else %}border-transparent border-b-text{% endif %}">{{ locale.endonym_name }}</span>
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                        <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
                      </div>
                    </div>
                  {%- endif -%}
            
                  {%- if country_selector -%}
                    <div class="inline-block">
                      <h2 class="visually-hidden" id="country-heading">
                        {{ 'general.country.dropdown_label' | t }}
                      </h2>
                      <div class="relative" data-disclosure-country>
                        <button type="button" class="text-sm border-b-text border-scheme-text py-1" aria-expanded="false" aria-controls="country-list" aria-describedby="country-heading" data-disclosure-toggle>
                          {{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }}
                          <span class="inline-block ml-1 w-3 fill-current">
                            {% render 'icon-chevron-down' %}
                          </span>
                        </button>
                        <ul id="country-list" class="disclosure-list absolute bg-scheme-background opacity-0 top-0 left-0 lg:left-auto lg:right-0 transform transition-opacity border-text border-theme-color py-1 sm:py-2" data-disclosure-list inert>
                          {% for country in localization.available_countries %}
                            <li class="text-xs sm:text-sm w-28 sm:w-40">
                              <a class="block p-2" href="#" {% if country.iso_code == localization.country.iso_code %}aria-current="true"{% endif %} data-value="{{ country.iso_code }}" data-disclosure-option>
                                <span class="{% if country.iso_code == localization.country.iso_code %}border-scheme-text border-b-text{% else %}border-transparent border-b-text{% endif %}">{{ country.currency.iso_code }} {{ country.currency.symbol }}</span>
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                        <input type="hidden" name="country_code" id="CountrySelector" value="{{ localization.country.iso_code }}" data-disclosure-input/>
                      </div>
                    </div>
                  {%- endif -%}
                {%- endform -%}
              </div>
            </div>
          {%- endif -%}
        </div>
        <div class="footer-links-wrap-main">
          <div class="fl-flexrow">
            <div class="fl-flexcol1"></div>
            <div class="fl-flexcol2">
              <div class="footer-policy-links">
                {% assign policies = section.settings.policies %}
                <ul class="list-none space-y-1 flex carlos-x-padding" style="align-items: center; gap: 10px; margin-top: 20px; margin-bottom: 20px;">
                  {% for link in linklists[policies].links %}
                    {% if link.title == 'Terms of Service' or link.title == 'Privacy Policy' %}
                      <li class="policy-links" style="margin: 0;">
                        <a href="{{ link.url }}">{% comment %}  class="hover:text-scheme-accent" {% endcomment %}
                        {{ link.title }}
                        </a>
                      </li>
                    {% endif %}  
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="fl-flexcol3">
              <div class="footer-copyright-main">
                {% if section.settings.copyright_text != blank %}   
                  <span>{{ section.settings.copyright_text }}</span>
                {% endif %} 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
  <footer class="footer-new footer-smallscreen bg-scheme-background text-scheme-text" data-section-id="{{ section.id }}" data-section-type="footer" data-color-scheme="footer">
  	<div class="footer-top">
  		<div class="ftop-row">
  			<div class="fcol-left">
  			  <div class="menu-tab-grid">
                   {% for block in section.blocks %}
                    {% if block.type == 'menu' %}
                      <div class="menu-tab-col">
                        <div class="menu-tab-inner">
                          {% assign link_list = block.settings.main_linklist %}
                          {% if block.settings.show_heading %}
                             <div class="mtab-head">
                               <h2 class="carlos-text-sm carlos-uppercase font-heading text-base mb-4">{{ linklists[link_list].title }}</h2>
                               <span class="micon">
                                <svg viewBox="0 0 16 16" fill="none" class="micon-plus" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><path d="M8 2V14M2 8H14" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                                <svg viewBox="0 0 16 16" fill="none" class="micon-minus" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><path d="M1.99998 8.04004H14" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>            
                               </span>            
                             </div>
                          {% endif  %}  
                          <div class="tabmenu-list">
                            <ul class="tablist">
                              {% for link in linklists[link_list].links %}
                                <li>
                                  <a href="{{ link.url }}">{% comment %}  class="hover:text-scheme-accent" {% endcomment %}
                                    {{ link.title }}
                                  </a>
                                </li>
                              {% endfor %}
                            </ul>               
                          </div>                 
                        </div>   
                      </div>                     
                    {% endif %}
                  {% endfor %}                         
                </div>
  			</div>
  			<div class="fcol-right">
  			  <div class="newsletter-grid">
                <h3>Connect</h3>
                {% if section.settings.show_newsletter %}
                  <div class="headingNewsWrap">
                    <div class="carlos-text-sm carlos-uppercase carlos-mb-[15px] {{ text_size_class }} {% if text_size_class contains 'xl' %}lg:w-1/2{% endif %}">
                      {% if section.settings.newsletter_section_title != blank %}
                        <h2 class="font-heading {{ settings.base_heading_size }}" for="Email">{{ section.settings.newsletter_section_title | escape }}</h2>
                      {% endif %}
                    
                      {% if section.settings.newsletter_subheading != blank %}
                        <div class="{% if section.settings.newsletter_section_title != blank %}mt-2{% endif %}">{{ section.settings.newsletter_subheading }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="klaviyoFormgrid-mobile">
                    <div class="klaviyo-form-XwigzW"></div>
                  </div>
                {% endif %}
  			  </div>
  			</div>	
  		</div>                                    
  	</div>
      <div class="footer-middle">
        <div class="footer-social-icons">
          {% if section.settings.show_social %}
            {% assign social_style = settings.social_style %}
            <div class="text-center">
              {% render 'social-icons' with social_style: social_style, link_class: "mb-1", section_color: section_color %}
            </div>
          {% endif %}                                
        </div>  
        <div class="footer-logo-grid">
          <div class="text-center">
            {% if section.settings.logo != blank %}
              {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
              <img src="{{ section.settings.logo | img_url: image_size }}"
              srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x, {{ section.settings.logo | img_url: image_size, scale: 3 }} 3x"
              alt="{{ section.settings.logo.alt | default: shop.name }}" height="100%" width="100%">
            {% else %}
              {{ shop.name }}
            {% endif %}                               
          </div>                                
        </div>        
        {% if section.settings.copyright_text != blank %}                                   
          <div class="footer-copyright">
            <p class="text-center">{{ section.settings.copyright_text }}</p>                               
          </div>  
        {% endif %}                                   
      </div>     
      <div class="footer-middle2">
        {%- if country_selector or locale_selector -%}
          {%- form 'localization', data-disclosure-form: '' -%}
          <div class="footer-cc-grid">
            <h2 class="visually-hidden" id="lang-heading">
              {{ 'general.language.dropdown_label' | t }}
            </h2>
            <div class="footer-cc-row">
             {%- if locale_selector -%}
              <div class="fcurrency-col">
                <div class="relative" data-disclosure-locale>
                  <button type="button" class="text-sm border-b-text border-scheme-text py-1" aria-expanded="false" aria-controls="lang-list" aria-describedby="lang-heading" data-disclosure-toggle>
                    {{ form.current_locale.endonym_name }}
                    <span class="inline-block ml-1 w-3 fill-current">
                      {% render 'icon-chevron-down' %}
                    </span>
                  </button>
                  <ul id="lang-List" class="disclosure-list absolute bg-scheme-background opacity-0 top-0 lg:left-auto lg:right-0 transform transition-opacity border-text border-theme-color py-1 sm:py-2" data-disclosure-list inert>
                    {% for locale in form.available_locales %}
                      <li class="text-xs sm:text-sm">
                        <a class="block p-2" href="#" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                          <span class="{% if locale.iso_code == form.current_locale.iso_code %}border-scheme-text border-b-text{% else %}border-transparent border-b-text{% endif %}">{{ locale.endonym_name }}</span>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                  <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
                </div>
              </div>
             {% endif %}  
              
            {%- if country_selector -%}          
              <div class="fcountry-col">
                <div class="relative" data-disclosure-country>
                  <button type="button" class="text-sm border-b-text border-scheme-text py-1" aria-expanded="false" aria-controls="country-list" aria-describedby="country-heading" data-disclosure-toggle>
                    {{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }}
                    <span class="inline-block ml-1 w-3 fill-current">
                      {% render 'icon-chevron-down' %}
                    </span>
                  </button>
                  <ul id="country-list" class="disclosure-list absolute bg-scheme-background opacity-0 top-0 left-0 lg:left-auto lg:right-0 transform transition-opacity border-text border-theme-color py-1 sm:py-2" data-disclosure-list inert>
                    {% for country in localization.available_countries %}
                      <li class="text-xs sm:text-sm w-28 sm:w-40">
                        <a class="block p-2" href="#" {% if country.iso_code == localization.country.iso_code %}aria-current="true"{% endif %} data-value="{{ country.iso_code }}" data-disclosure-option>
                          <span class="{% if country.iso_code == localization.country.iso_code %}border-scheme-text border-b-text{% else %}border-transparent border-b-text{% endif %}">{{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})</span>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                  <input type="hidden" name="country_code" id="CountrySelector" value="{{ localization.country.iso_code }}" data-disclosure-input/>
                </div>
              </div>
            {% endif %}  
            
            </div>
            
          </div>
        {%- endform -%}
      {%- endif -%}                                   
      </div>    
      <div class="footer-bottom">
        <div class="footer-bottom-content">
          <div class="disclaimer-content-grid">
            {{ section.settings.disclaimer }}
          </div>
          {% if section.settings.show_disclaimer_content == true %}
            <div class="disclaimer-content-bottom">
              {{ section.settings.disclaimer_content }}                          
            </div>
          {% endif %} 
          <div class="sub-text1">
            {% if section.settings.subs_text != blank %}
              <p class="text-center">{{ section.settings.subs_text }}</p>
            {% endif %}  
          </div>
          <div class="sub-text2">
            {% if section.settings.subs_bottom_text != blank %}
              <p class="text-center">{{ section.settings.subs_bottom_text }} 
              <button type="button" class="ag-3po" data-qa="footer-cookie-button"><span>Your Privacy Choices</span> <span class="cookie_logo"><svg viewBox="0 0 55 27" fill="none" class="ag-29y" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="1" width="53" height="25" rx="12.5" stroke="white" stroke-width="2"></rect><path d="M34.5 2H41.5C47.8513 2 53 7.14873 53 13.5C53 19.8513 47.8513 25 41.5 25H27L34.5 2Z" fill="#E5E7EB"></path><path d="M46.6667 9.36838L37.3334 18.7017M37.3334 9.36838L46.6667 18.7017" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M23.1499 9.54504L14.8999 17.795L11.1499 14.045" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg></span></button></p>
            {% endif %}  
          </div>
          <div class="footer-policy-links">
            {% assign policies = section.settings.policies %}
            <ul class="list-none space-y-1 flex carlos-x-padding" style="align-items: center; gap: 10px; margin-top: 20px; margin-bottom: 20px;">
              {% for link in linklists[policies].links %}
                {% if link.title == 'Terms of Service' or link.title == 'Privacy Policy' %}
                  <li class="policy-links" style="margin: 0;">
                    <a href="{{ link.url }}">{% comment %}  class="hover:text-scheme-accent" {% endcomment %}
                    {{ link.title }}
                    </a>
                  </li>
                {% endif %}  
              {% endfor %}
            </ul>
          </div>
        </div>  
      </div>
  </footer>
</div>

{% if section.settings.logo != blank %}
  <style>
    /* .footer-logo-image {
      display: block;
      max-width: {{ section.settings.logo_max_width }}px;
    } */
  </style>
{% endif %}

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 250,
        "step": 5,
        "unit": "px",
        "label": "Logo width",
        "default": 100
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons"
      },
      {
        "type": "header",
        "content": "Language Selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Country/region selector",
        "info": "To add a country/region, go to your [payment settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_country_selector",
        "label": "Show country/region selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "text",
        "id": "text_heading",
        "label": "Heading"
      },
      {
        "id": "text_text",
        "type": "richtext",
        "label": "Text",
        "default": "<p>Use this to add additional information about your store, e.g. address / contact details.</p>"
      },
      {
        "type": "header",
        "content": "Social"
      },
      {
        "type": "checkbox",
        "id": "show_social",
        "label": "Show social media"
      },
      {
        "type": "text",
        "id": "social_title",
        "label": "Social heading"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "show_newsletter",
        "label": "Show newsletter",
        "default": true
      },
      {
        "type": "text",
        "id": "callout_1",
        "label": "Callout #1"
      },
      {
        "type": "text",
        "id": "callout_2",
        "label": "Callout #2"
      },
      {
        "type": "text",
        "id": "callout_3",
        "label": "Callout #3"
      },
      {
        "type": "text",
        "id": "newsletter_section_title",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "newsletter_subheading",
        "label": "Subheading",
        "default": "<p>Receive special offers and first look at new products.</p>"
      },
      {
        "type": "select",
        "id": "newsletter_color_scheme",
        "label": "Newsletter color scheme",
        "options": [
            { "value": "primary", "label": "Primary"},
            { "value": "secondary", "label": "Secondary"},
            { "value": "tertiary", "label": "Tertiary"}
        ],
        "default":   "secondary"
      },
      {
        "type":      "header",
        "content":   "Layout"
      },
      {
        "type": "checkbox",
        "id": "show_grid_border",
        "label": "Show grid border",
        "default": false
      },
      {
        "type": "richtext",
        "id": "disclaimer",
        "label": "Disclaimer"
      },
      {
        "type": "checkbox",
        "id": "show_disclaimer",
        "label": "Show Disclaimer",
        "default": false
      },
      {
        "type": "richtext",
        "id": "disclaimer_content",
        "label": "Disclaimer Bottom Content"
      },
      {
        "type": "checkbox",
        "id": "show_disclaimer_content",
        "label": "Show Disclaimer Content",
        "default": false
      },
      {
        "type": "text",
        "id": "subs_text",
        "label": "Subscription Text"
      },
      {
        "type": "text",
        "id": "subs_bottom_text",
        "label": "Subscription Bottom Text"
      },
      {
        "type": "textarea",
        "id": "copyright_text",
        "label": "CopyRight Text"
      },
      {
        "type": "link_list",
        "id": "policies",
        "label": "Policies"
      },
      {
        "type":      "header",
        "content":   "Colors"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "label": "Color scheme",
        "options": [
            { "value": "primary", "label": "Primary"},
            { "value": "secondary", "label": "Secondary"},
            { "value": "tertiary", "label": "Tertiary"}
        ],
        "default":   "primary"
      }
    ],
    "blocks": [
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "link_list",
            "id": "main_linklist",
            "label": "Menu",
            "default": "footer",
            "info": "This menu won't show dropdown items"
          },
          {
            "type": "checkbox",
            "id": "show_heading",
            "label": "Show heading",
            "default": true
          }
        ]
      },
      {
        "type": "policy_links",
        "name": "Policy Link",
        "settings": [
          {
            "type": "link_list",
            "id": "policy_linklist",
            "label": "Policy Links",
            "default": "footer",
            "info": "This menu won't show dropdown items"
          }
        ]
      }
    ]
  }

{% endschema %}
