{{ 'section-buy-box.css' | asset_url | stylesheet_tag }}

<script defer src="{{ 'buy-box.js' |  asset_url }}"></script>
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="buy-box__section-wrapper">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'buyboxtimer' %}
            <div class="buy_box-wrapper">
              <p class="buy_box-text">{{ block.settings.heading }}</p>
              <div class="buy_box-timer">10:00</div>
            </div>
          {% when 'badge' %}
            <div class="buy-box__section-badge">
              <h2 class="section-badge__title">{{ block.settings.title }}</h2>
              <span class="section-badge__subinfo" style="color: white;">{{ block.settings.sub_info }}</span>
            </div>
          {% when 'buybox' %}
            <div class="buy-box__cards-wrapper" id="buy-box" data-type="onetime">
              {% for i in (0..2) %}
                <div class="buy-box-multi__card-wrapper">
                  {% assign variant_1 = block.settings.product.variants[i] %}
                  {% assign option_1 = variant_1.title | split: ' / ' %}
                  <div class="buy-box__card {{ option_1[0] }}">
                    <div class="buy-box__card-header">
                      <h2 class="card__header-title">
                        {% if i == 0 %}
                          {{ section.settings.box1 }}
                        {% endif %}
                        {% if i == 1 %}
                          {{ section.settings.box2 }}
                        {% endif %}
                        {% if i == 2 %}
                          {{ section.settings.box3 }}
                        {% endif %}
                      </h2>
                      <p class="card__header-subtitle">{{ option_1[1] }}</p>
                    </div>
                    <div class="card__product-img-wrapper">
                      <img
                        src="{{ block.settings.product.featured_image |  image_url: width: block.settings.product.featured_image.width  }}"
                        class="card__product-img"
                      >
                      <div class="card__product-img-badge-wrapper">
                        <img src="{{ section.settings.product_image_badge |  image_url: width: section.settings.product_image_badge.width }}" class="card__product-img-badge-img">
                      </div>
                      
                    </div>
                    <ul class="card__value-points">
                      <li class="card__value-point {% if i > 1 %} card__value-point--active {% endif %}">
                        <span>{% render 'icon-check' %} </span> Biggest Discount
                      </li>
                      <li class="card__value-point {% if i > 0 %} card__value-point--active {% endif %}">
                        {% render 'icon-check' %}FAST & FREE USA SHIPPING
                      </li>
                      <li class="card__value-point {% if i > 0 %} card__value-point--active {% endif %}">
                        {% render 'icon-check' %}Easy Returns
                      </li>
                      <li class="card__value-point {% if i > 1 %} card__value-point--active {% endif %}">
                        {% render 'icon-check' %}FREE Mystery Gift ($59 VALUE)
                      </li>
                    </ul>
                    <div class="card__price-wrapper">
                      <span class="card__single-value">
                        {% if i < 1 %}
                          {{ variant_1.price | money_with_currency }}
                        {% endif %}
                        {% if i == 1 %}
                          {{ variant_1.price | divided_by: section.settings.bottles1 | money_with_currency }}
                        {% endif %}
                        {% if i > 1 %}
                          {{ variant_1.price | divided_by: section.settings.bottles2 | money_with_currency }}
                        {% endif -%}
                      </span>
                      <div class="divider"></div>
                      <span class="card__single-value-text">per bottle</span>
                    </div>
                    <div class="card__shipping-badge">{% render 'icon-truck' %} Free Shipping</div>
                    <div class="purchase-options">
                      <label class="purchase-option">
                        <input
                          type="radio"
                          name="purchase_type_{{ variant_1.id }}"
                          value="subscribe"
                          class="purchase-radio"
                          data-variant-id="{{ variant_1.id }}"
                        >
                        <div class="option-details">
                          <div class="option-title">Subscribe & Save 10%</div>
                          {% comment %} <div class="option-description">Save 10% and never run out</div> {% endcomment %}
                        </div>
                      </label>

                      <label class="purchase-option">
                        <input
                          type="radio"
                          name="purchase_type_{{ variant_1.id }}"
                          value="onetime"
                          class="purchase-radio"
                          checked
                          data-variant-id="{{ variant_1.id }}"
                        >
                        <div class="option-details">
                          <div class="option-title">One-Time Purchase Price</div>
                          {% comment %} <div class="option-description">Single purchase at regular price</div> {% endcomment %}
                        </div>
                      </label>
                    </div>
                    <div class="card__learn-more">
                      <span>{% render 'icon-right' %}</span>
                      sun cost vip
                      <p class="card__learn-more-anchor order-now-button openModalBtn" >Learn More</p>
                    </div>
                    <button class="card__atc-btn order-now-button" data-variant-id="{{ variant_1.id }}">
                      Order Now
                    </button>
                    <div class="card__payment-provider-img-wrapper">
                      <img
                        src="{{ section.settings.payment_provider |  image_url: width: section.settings.payment_provider.width }}"
                        class="card__payment-provider-img"
                      >
                    </div>
                  </div>
                  {% liquid
                    assign right_i = i | plus: 3
                  %}
                  {% assign variant_2 = block.settings.product.variants[right_i] %}
                  {% assign option_2 = variant_2.title | split: ' / ' %}
                  <div class="buy-box__card {{ option_2[0] }}">
                    <div class="buy-box__card-header">
                      <h2 class="card__header-title">
                        {% if i == 0 %}
                          {{ section.settings.box1 }}
                        {% endif %}
                        {% if i == 1 %}
                          {{ section.settings.box2 }}
                        {% endif %}
                        {% if i == 2 %}
                          {{ section.settings.box3 }}
                        {% endif %}
                      </h2>
                      <p class="card__header-subtitle">{{ option_1[1] }}</p>
                    </div>
                    <div class="card__product-img-wrapper">
                      <img
                        src="{{ block.settings.product.featured_image |  image_url: width: block.settings.product.featured_image.width  }}"
                        class="card__product-img"
                      >
                      <div class="card__product-img-badge-wrapper">
                        <img src="{{ section.settings.product_image_badge |  image_url: width: section.settings.product_image_badge.width }}" class="card__product-img-badge-img">
                      </div>
                    </div>
                    <ul class="card__value-points">
                      <li class="card__value-point {% if i > 1 %} card__value-point--active {% endif %}">
                        <span>{% render 'icon-check' %} </span> Biggest Discount
                      </li>
                      <li class="card__value-point {% if i > 0 %} card__value-point--active {% endif %}">
                        {% render 'icon-check' %}FAST & FREE USA SHIPPING
                      </li>
                      <li class="card__value-point {% if i > 0 %} card__value-point--active {% endif %}">
                        {% render 'icon-check' %}Easy Returns
                      </li>
                      <li class="card__value-point {% if i > 1 %} card__value-point--active {% endif %}">
                        {% render 'icon-check' %}FREE Mystery Gift ($59 VALUE)
                      </li>
                    </ul>
                    <div class="card__price-wrapper">
                      <span class="card__single-value">
                        {% if i < 1 %}
                          {{ variant_2.price | money_with_currency }}
                        {% endif %}
                        {% if i == 1 %}
                          {{ variant_2.price | divided_by: section.settings.bottles1 | money_with_currency }}
                        {% endif %}
                        {% if i > 1 %}
                          {{ variant_2.price | divided_by: section.settings.bottles2 | money_with_currency }}
                        {% endif %}
                      </span>
                      <div class="divider"></div>
                      <span class="card__single-value-text">per bottle</span>
                    </div>
                    <div class="card__shipping-badge">{% render 'icon-truck' %} Free Shipping</div>
                    <div class="purchase-options">
                      <label class="purchase-option">
                        <input
                          type="radio"
                          name="purchase_type_{{ variant_2.id }}"
                          value="subscribe"
                          class="purchase-radio"
                          data-variant-id="{{ variant_2.id }}"
                        >
                        <div class="option-details">
                          <div class="option-title">Subscribe & Save 10%</div>
                          {% comment %} <div class="option-description">Save 10% and never run out</div> {% endcomment %}
                        </div>
                      </label>

                      <label class="purchase-option">
                        <input
                          type="radio"
                          name="purchase_type_{{ variant_2.id }}"
                          value="onetime"
                          class="purchase-radio"
                          checked
                          data-variant-id="{{ variant_2.id }}"
                        >
                        <div class="option-details">
                          <div class="option-title">One-Time Purchase Price</div>
                          {% comment %} <div class="option-description">Single purchase at regular price</div> {% endcomment %}
                        </div>
                      </label>
                    </div>
                    <div class="card__learn-more">
                      <span>{% render 'icon-right' %}</span>
                      sun cost vip
                      <a class="card__learn-more-anchor openModalBtn" href="#">Learn More</a>
                    </div>
                    <button class="card__atc-btn order-now-button" data-variant-id="{{ variant_2.id }}">
                      Order Now
                    </button>
                    <div class="card__payment-provider-img-wrapper">
                      <img
                        src="{{ section.settings.payment_provider |  image_url: width: section.settings.payment_provider.width }}"
                        class="card__payment-provider-img"
                      >
                    </div>
                  </div>

                  {% comment %} {% endif %} {% endcomment %}
                </div>
              {% endfor %}
            </div>
          {%  when 'popup' %}
            <div id="modalBackdrop">
                <div id="modalContainer">
                    <span id="closeModalBtn">&times;</span>
                    <h2>Modal Content</h2>
                    <p>This is a popup modal with animation and a backdrop.</p>
                </div>
            </div>
            {% comment %}
              <div class="buy-box__cards-wrapper">
                {% assign packageTitles = block.settings.product.metafields.custom.package_subtitle %}

                {% if packageTitles.size > 0 %}
                  {% for variant in block.settings.product.variants %}
                    <div class="buy-box__card">
                      <div class="buy-box__card-header">
                        {% assign index = forloop.index0 %} <!-- Get the current loop index -->
                        {% if index < packageTitles.size %}
                          {{ packageTitles[index] }}
                        {% else %}
                          No title available
                        {% endif %}
                      </div>
                    </div>
                  {% endfor %}
                {% else %}
                  <p>No package titles available.</p>
                {% endif %}
              </div>
            {% endcomment %}
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Section Buy Box",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    },
    {
      "type": "image_picker",
      "id": "payment_provider",
      "label": "Payment Provider"
    },
    {
      "type": "image_picker",
      "id": "product_image_badge",
      "label": "Image Badge"
    },
    {
      "type": "text",
      "id": "box1",
      "label": "1st box heading",
      "default": "basic package"
    },
    {
      "type": "text",
      "id": "box2",
      "label": "2nd box heading",
      "default": "great value"
    },
    {
      "type": "text",
      "id": "box3",
      "label": "3rd box heading",
      "default": "best value"
    },
    {
      "type": "number",
      "id": "bottles1",
      "label": "Number of bottles in 2nd box",
      "default": 2
    },
    {
      "type": "number",
      "id": "bottles2",
      "label": "Number of bottles in 3rd box",
      "default": 4
    }
  ],
  "blocks": [
    {
      "name": "Badge",
      "type": "badge",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title",
          "default": "Black Friday Sale"
        },
        {
          "type": "text",
          "id": "sub_info",
          "label": "Sub Info",
          "default": "subinfo"
        }
      ]
    },
    {
      "name": "Buy Box",
      "type": "buybox",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    },
    {
      "name": "Buy Box timer",
      "type": "buyboxtimer",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Stock up on ReActivate today before the next supply chain breakdown"
        }
      ]
    },
    {
      "name": "Buy Box Modal",
      "type": "popup",
      "settings": [

      ]
    }
  ],
  "presets": [
    {
      "name": "Section Buy Box"
    }
  ]
}
{% endschema %}
