{{ 'section-buy-box.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="buy-box__section-wrapper">
      {% for block in section.blocks %}
        {%  case block.type %}  
          {% when 'badge' %}
            <div class="buy-box__section-badge">
              <h2 class="section-badge__title">{{ block.settings.title }}</h2>
              <span class="section-badge__subinfo" style="color: white;">{{ block.settings.sub_info }}</span>
            </div>
          {% when 'buybox' %}
            <div class="buy-box__cards-wrapper">
              {% for variant in block.settings.product.variants %}
                <div class="buy-box__card">
                  <div class="buy-box__card-header">
                    <h2 class="card__header-title">Basic Package</h2>
                    <p class="card__header-subtitle">1-Month Supply (1 Bottle)</p>
                  </div>
                  <div class="card__product-img-wrapper">
                    <img src="{{ block.settings.product.featured_image |  image_url: width: block.settings.product.featured_image.width  }}" class="card__product-img">
                  </div>
                  <ul class="card__value-points">
                    <li class="card__value-point"><span>{%  render 'icon-check' %} </span> Biggest Discount</li>
                    <li class="card__value-point">{% render 'icon-check'  %}FAST & FREE USA SHIPPING</li>
                    <li class="card__value-point">{% render 'icon-check'  %}Easy Returns</li>
                    <li class="card__value-point">{% render 'icon-check'  %}FREE Mystery Gift ($59 VALUE)</li>
                  </ul>
                  <div class="card__price-wrapper">
                    <span class="card__single-value">{{ variant.price |  money_with_currency}}</span>
                    <div class="divider"></div>
                    <span class="card__single-value-text">per bottle</span>
                  </div>
                  <div class="card__shipping-badge">
                   {% render 'icon-truck' %} Free Shipping
                  </div>
                  <div class="purchase-options">
                    <label class="purchase-option">
                      <input 
                        type="radio" 
                        name="purchase_type_{{ variant.id }}" 
                        value="subscribe" 
                        class="purchase-radio"
                        data-variant-id="{{ variant.id }}"
                      >
                      <div class="option-details">
                        <div class="option-title">Subscribe & Save 10%</div>
                        {% comment %} <div class="option-description">Save 10% and never run out</div> {% endcomment %}
                      </div>
                    </label>
                    
                    <label class="purchase-option">
                      <input 
                        type="radio" 
                        name="purchase_type_{{ variant.id }}" 
                        value="onetime" 
                        class="purchase-radio" 
                        checked 
                        data-variant-id="{{ variant.id }}"
                      >
                      <div class="option-details">
                        <div class="option-title">One-Time Purchase Price</div>
                        {% comment %} <div class="option-description">Single purchase at regular price</div> {% endcomment %}
                      </div>
                    </label>
                  </div>
                  <div class="card__learn-more">
                    <span>{%  render 'icon-right' %}</span>
                    sun cost vip
                    <a class="card__learn-more-anchor" href="#">Learn More</a>
                  </div>
                  <button class="card__atc-btn">
                    Order Now
                  </button>
                  <div class="card__payment-provider-img-wrapper">
                    <img src="{{ section.settings.payment_provider |  image_url: width: section.settings.payment_provider.width }}" class="card__payment">
                  </div>
                </div>

              {% endfor %}
            </div>
            {% comment %} <div class="buy-box__cards-wrapper">
              {% assign packageTitles = block.settings.product.metafields.custom.package_subtitle %} 

              {% if packageTitles.size > 0 %}
                {% for variant in block.settings.product.variants %}
                  <div class="buy-box__card">
                    <div class="buy-box__card-header">
                      {% assign index = forloop.index0 %} <!-- Get the current loop index -->
                      {% if index < packageTitles.size %}
                        {{ packageTitles[index] }}
                      {% else %}
                        No title available
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <p>No package titles available.</p>
              {% endif %}
            </div> {% endcomment %}
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section Buy Box",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Section Padding"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 36
      }
    ],
    "blocks": [
      {
        "name": "Badge",
        "type": "badge",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "title",
            "label": "Title",
            "default": "Black Friday Sale"
          }, {
            "type": "text",
            "id": "sub_info",
            "label": "Sub Info",
            "default": "subinfo"
          }
        ]
      },
      {
        "name": "Buy Box",
        "type": "buybox",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Section Buy Box"
      }
    ]
  }
{% endschema %}